body {
  margin: 0;
  padding: 0;
  background-color: #fff; }

.colour1 {
  background-color: pink; }

.colour2 {
  background-color: green; }

.colour3 {
  background-color: yellow; }

.colour4 {
  background-color: blue; }
