body {
  margin: 0;
  padding: 0;
  background-color: #fff; }

.colour1 {
  background-color: pink; }

.colour2 {
  background-color: #87d187; }

.colour3 {
  background-color: #ebeb86; }

.colour4 {
  background-color: #adadf1; }
