body {
  margin: 0;
  padding: 0;
  background-color: #fff;
}

.colour1 {
  background-color: pink;
}
.colour2 {
  background-color: rgb(135, 209, 135);
}
.colour3 {
  background-color: rgb(235, 235, 134);
}
.colour4 {
  background-color: rgb(173, 173, 241);
}
